html {
  touch-action: manipulation;
}

div#screen {
  left: 50%;
  margin-right: -50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

div.control {
  border-radius: 10px;
  border: 1px solid black;
  display: inline-flex;
  margin: 10px;
  padding: 0.2em 0.5em;
}

button#left-btn {
  background-color: #1e90ff;
}

button#under-btn {
  background-color: #32cd32;
}

button#right-btn {
  background-color: #ff8c00;
}

button#rotate-btn {
  background-color: #ff69b4;
}

button.control-btn {
  border-radius: 4px;
  border-style: none;
  color: white;
  margin: 10px 10px;
  padding: 0.8em 0.2em;
  position: relative;
  width: 50px;
}
