html {
  font-family: "メイリオ", meiryo, sans-serif;
}

div.control {
  border-radius: 10px;
  border: 1px solid black;
  display: inline-flex;
  margin: 10px;
  padding: 0.2em 0.5em;
}

div.table {
  display: table;
}

form.tr, div.tr {
  display: table-row;
}

span.td {
  border: 0.5px solid black;
  display: table-cell;
  padding: 0.2em 1.0em;
}

input.change_form_num {
  background-color: #1e90ff;
  border-radius: 4px;
  border-style: none;
  color: white;
  margin: 10px 10px;
  padding: 0.8em 0.2em;
  position: relative;
  width: 80px;
}

input.change_form_num:hover {
  opacity: 0.7;
}

input.change_form_num:active {
  top: 4px;
}

input.add_form_num {
  background-color: #32cd32;
  border-radius: 4px;
  border-style: none;
  color: white;
  margin: 10px 10px;
  padding: 0.8em 0.2em;
  position: relative;
  width: 80px;
}

input.add_form_num:hover {
  opacity: 0.7;
}

input.add_form_num:active {
  top: 4px;
}

input.del_form_num {
  background-color: #ff8c00;
  border-radius: 4px;
  border-style: none;
  color: white;
  margin: 10px 10px;
  padding: 0.8em 0.2em;
  position: relative;
  width: 80px;
}

input.del_form_num:hover {
  opacity: 0.7;
}

input.del_form_num:active {
  top: 4px;
}

input.reset_form_num {
  background-color: #ff69b4;
  border-radius: 4px;
  border-style: none;
  color: white;
  margin: 10px 10px;
  padding: 0.8em 0.2em;
  position: relative;
  width: 80px;
}

input.reset_form_num:hover {
  opacity: 0.7;
}

input.reset_form_num:active {
  top: 4px;
}

input.form_num {
  width: 50px;
}

input.brand {
  width: 100px;
}

input.price {
  width: 100px;
}

output.toraku::after {
  content: " %";
}
