html {
  font-family: "メイリオ", meiryo, sans-serif;
}

div.control {
  display: inline-flex;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.2em 0.5em;
  margin: 10px;
}

div.table {
  display: table;
}

form.tr, div.tr {
  display: table-row;
}

span.td {
  display: table-cell;
  padding: 0.2em 1.0em;
  border: 0.5px solid black;
}

input.change_form_num {
  width: 80px;
  padding: 0.8em 0.2em;
  margin: 10px 10px;
  border-style: none;
  border-radius: 4px;
  color: white;
  background-color: #0c88ca;
  box-shadow: 3px 3px 3px gray;
}

input.reset_form_num {
  width: 80px;
  padding: 0.8em 0.2em;
  margin: 10px 10px;
  border-style: none;
  border-radius: 4px;
  color: white;
  background-color: #ca0cca;
  box-shadow: 3px 3px 3px gray;
}

input.form_num {
  width: 50px;
}

input.brand {
  width: 100px;
}

input.price {
  width: 100px;
}

output.toraku::after {
  content: " %";
}
