div.table {
  display: table;
}

form.tr, div.tr {
  display: table-row;
}

span.td {
  display: table-cell;
  padding: 0.2em 1.0em;
  border: 1px solid black;
}

input.change_form_num {
  padding: 0.8em 1.5em;
  margin: 10px 10px;
  border-style: none;
  border-radius: 4px;
  color: white;
  background-color: #0c88ca;
  box-shadow: 3px 3px 3px gray;
}

input.change_form_num:hover {
  background-color: orange;
}

input.form_num {
  width: 50px;
}

input.brand {
  width: 100px;
}

input.price {
  width: 100px;
}

output.toraku::after {
  content: " %";
}
